<form action="/quiz/submit" method="POST">
    <!-- Render quiz questions here -->
    <label>What are my fitness goals?</label><br>
    <input type="checkbox" name="What are my fitness goals?" value="strength"> Strength<br>
    <input type="checkbox" name="What are my fitness goals?" value="endurance"> Endurance<br>
    <input type="checkbox" name="What are my fitness goals?" value="flexibility"> Flexibility<br>
    <input type="checkbox" name="What are my fitness goals?" value="skill-based"> Skill-based<br>
    <input type="checkbox" name="What are my fitness goals?" value="agility"> Agility<br>
    <input type="submit" value="Submit">
</form>
